{% extends 'base.html' %}

{% block title %}Welcome to the Chat Room{% endblock %}

{% block content %}
<form method="post" class="buttons">
  <h3>Welcome to the Chat Room</h3>
  
  <!-- Box for Name Input -->
  <div class="input-box">
    <label for="name">Enter Your Name:</label>
    <input
      type="text"
      placeholder="Pick a name!"
      name="name"
      value="{{ name }}"
    />
  </div>

  <!-- Box for Room Code Input -->
  <div class="input-box">
    <label for="code">Enter Room Code:</label>
    <input
      type="text"
      placeholder="Room Code"
      name="code"
      value="{{ code }}"
    />
  </div>

  <!-- Dropdown for Predefined Rooms -->
  <div class="input-box">
    <label for="predefined-room">Or join a predefined room:</label>
    <select name="predefined-room" id="predefined-room">
        <option value="">Select a room...</option>
        <option value="SPORTS">Sports</option>
        <option value="BUSINESS">Business</option>
        <option value="TECHNOLOGY">Technology</option>
        <option value="MUSIC">Music</option>
        <option value="ART">Art</option>
    </select>
</div>


  <div class="join">
    <button type="submit" name="join">Join a Room</button>
    <button type="submit" name="create" class="create-btn">Create a Room</button>
  </div>

  {% if error %}
  <ul>
    <li class="error">{{ error }}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}
