{% extends 'base.html' %} 
{% block content %}
<form method="post" class="buttons">
  <h3>Welcome to the Chat Room</h3>
  
  <!-- Box for Name Input -->
  <div class="input-box">
    <label for="name">Enter Your Name:</label>
    <input
      type="text"
      placeholder="Pick a name!"
      name="name"
      value="{{name}}"
    />
  </div>

  <!-- Box for Room Code Input -->
  <div class="input-box">
    <label for="code">Enter Room Code:</label>
    <input
      type="text"
      placeholder="Room Code"
      name="code"
      value="{{code}}"
    />
  </div>

  <div class="join">
    <button type="submit" name="join">Join a Room</button>
    <button type="submit" name="create" class="create-btn">Create a Room</button>
  </div>

  {% if error %}
  <ul>
    <li class="error">{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}
